@model X.PagedList.PagedList<App.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create" class="bg-primary text-white">Criar Categoria</a>
</p>

<form class="d-flex align-items-center" asp-action="Index" method="get">
    <span>Consulta: </span>
    <input type="text" name="txtFiltro" placeholder="Digite aqui o que procura" value="@ViewBag.txtFiltro"
        class="form-control">
    <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i> Buscar</button>
    <select name="selOrdenacao" class="form-control mx-2">
        <option value="Nome">Ordenar por nome</option>
        <option value="Nome_Desc">Ordenar por nome descentente</option>
    </select>
</form>

<table class="table">

    
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].CategoriaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoriaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoriaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>

<div class="d-flex justify-content-center">
    <ul class="pagination">
        @{
            string primeira = "";
            string ultima = "";
        }
        @if (!Model.HasPreviousPage)
            primeira = "disabled";
        @if (!Model.HasNextPage)
            ultima = "disabled";
        <li class="page-item @primeira">

            <a class="page-link" asp-route-pagina="1" asp-route-txtFiltro="@ViewData["txtFiltro"]">&lt;&lt;</a>

        </li>
        <li class="page-item @primeira">
            <a class="page-link" asp-route-pagina="@(Model.PageNumber - 1)"asp-route-txtFiltro="@ViewData["txtFiltro"]">&lt;</a>
        </li>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">

                <a class="page-link" asp-route-pagina="@i" asp-route-txtFiltro="@ViewData["txtFiltro"]">@i</a>

            </li>
        }
        <li class="page-item @ultima">
            <a class="page-link" asp-route-pagina="@(Model.PageNumber + 1)"asp-route-txtFiltro="@ViewData["txtFiltro"]">></a>
        </li>
        <li class="page-item @ultima">

            <a class="page-link" asp-route-pagina="@Model.PageCount" asp-route-txtFiltro="@ViewData["txtFiltro"]">>></a>

        </li>
    </ul>
</div>
